:root {
    --color-light-100: #D9D9D9;
    --color-light-200: #CCCCCC;
    --color-light-300: #A7A7A7;
    --color-dark-900: #191919;

    --color-green: #C0CC46;

    --fonte-principal: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    text-decoration: none;
}


body {
    background-color: var(--color-dark-900);
}

header {
    padding: 1% 0 5% 0;
    display: flex;
    justify-content: center;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 1%;
}

.menu-box-icon {
    width: 3.75rem;
}

.menu-box-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-box-links a {
    color: var(--color-light-300);
    font-size: 1.125rem;
    transition: .5s;
}

.menu-box-links a:hover {
    transition: .3s;
    color: var(--color-green);
    text-decoration: overline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*part1*/
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 2%;
}

.home-quemsou {
    font-weight: bold;
    font-size: 3.75rem;
    color: var(--color-light-100);
}

.home-quemsou span {
    color: var(--color-green);
}

.home-animation {
    width: 34.375rem;
    border-radius: 50%;
}

/*part2*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1%;
}

.about-titulo {
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-light-200);
    padding: 6.25rem 0 2rem 0;
}

.about-box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about-box-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 6.25rem;
}

.about-box-down {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 300px;
    padding: 0 150px 0 120px;
}

.about-box-up-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.about-box-down-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.descricao {
    color: var(--color-light-100);
    text-align: justify;
    font-size: 18px;
}

.ano {
    text-align: center;
    color: var(--color-green);
}

hr {
    border-color: var(--color-green);
}

/*part3*/
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1%;
}

.skills-titulo {
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-light-200);
    padding: 6.25rem 0 2rem 0;
}

.skills-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

.skills-icons-container {
    max-width: 9.375rem;
}

.skills-icons-container img {
    max-width: 9.375rem;
    max-height: 9.375rem;
    width: auto;
    height: auto;
}

/*part4*/
.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1%;
}

.projetos-titulo {
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-light-200);
    padding: 6.25rem 0 2rem 0;
}

.projetos-descricao {
    color: var(--color-light-200);
    padding-bottom: 1.875rem;
    font-size: 18px;
}

.projetos-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projetos-container div {
    width: 15.6rem;
    height: 18.75rem;
    border-radius: 12px;
    border: solid 1px white;
}

/*part5*/
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1%;
}

.contato-titulo {
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-light-200);
    padding: 6.25rem 0 2rem 0;
}

.contato-container {
    display: flex;
    flex-direction: column;
}

.contato-container-email {
    color: var(--color-green);
    text-decoration: underline;
    font-size: 18px;
}

.contato-container-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.socialContainer {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    background-color: var(--color-light-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
}

.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

.containerTwo:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.containerThree:hover {
    background-color: #238636;
    transition-duration: .3s;
}

.containerFour:hover {
    background-color: #0057FF;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.svgOne {
    width: 1.25rem;
}

.svgTwo {
    width: 1.125rem;
}

.svgThree {
    width: 1.75rem;
}

.svgFour {
    width: 1.38rem;
}

.svgOne path,
.svgTwo path,
.svgThree path,
.svgFour path {
    fill: var(--color-dark-900);
}

.socialContainer:hover .svgOne,
.socialContainer:hover .svgTwo,
.socialContainer:hover .svgThree,
.socialContainer:hover .svgFour {
    animation: slide 0.3s both;
}

@keyframes slide {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    padding: 6% 0 2% 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-container .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 1%;
}

.footer-container .menu a {
    color: var(--color-light-300);
    font-size: 14px;
    transition: .3s;
}

.footer-container .menu a:hover {
    transition: .3s;
    color: var(--color-green);
    text-decoration: underline;
}

.footer-container p {
    color: var(--color-light-300);
    font-size: 14px;
}

.footer-container p a {
    color: var(--color-green);
    text-decoration: underline;
}

.footer-container p span {
    color: var(--color-green);
}

@media (max-width: 1300px) {
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        width: 80%;
        padding: 2%;
    }
    .home-quemsou{
        font-size: 52px;
    }
    .about-box-down {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 100px;
        padding: 0 150px 0 120px;
    }
    .skills-icons {
        gap: 20px;
    }
    .skills-icons-container {
        max-width: 100px;
    }
    .skills-icons-container img {
        max-width: 100px;
        max-height: 100px;
    }
    .projetos-container{
        width: 100%;
    }
    .projetos-container div {
        width: 200px;
        height: 18.75rem;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-container .menu {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .projetos-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .projetos-container div {
        width: 400px;
        height: 200px;
    }
}